[Unit]
Description=ROS Nodes Reconnection
After=rm_ecat_start.service
[Service]
Type=simple
ExecStart=/bin/bash -c "/home/dynamicx/node_reconnection.sh"
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
