<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type [standard, hero, engineer]"/>
    <arg name="load_controller" default="true"/>
    <arg name="wheeled_balance" default="true"/>
    <arg name="hw_name" default="$(env HW_NAME)" doc="Hw name [rm_can_hw, rm_ecat_hw]"/>

    <rosparam file="$(find rm_dbus)/config/dbus.yaml" command="load"/>
    <rosparam file="$(find rm_config)/config/rm_controllers/$(arg robot_type).yaml"/>

    <include file="$(find rm_config)/launch/$(env HW_NAME).launch"/>
    <!--    <node name="rm_dbus" pkg="rm_dbus" type="rm_dbus" respawn="false"/>-->

    <include file="$(find rm_config)/launch/manual.launch">
        <arg name="wheeled_balance" value="$(arg wheeled_balance)"/>
    </include>

    <include file="$(find rm_config)/launch/referee.launch"/>

</launch>
