# ls /sys/class/tty/ttyUSB* -l
# set the udev rule

# use for usb2can
# ACTION=="add",KERNELS=="3-5.1:1.0",SUBSYSTEMS=="usb",MODE:="0777",SYMLINK+="usbDbus"
# ACTION=="add",KERNELS=="3-5.2:1.0",SUBSYSTEMS=="usb",MODE:="0777",SYMLINK+="usbReferee"

# use for ecat
ACTION=="add",KERNELS=="3-5.2:1.0",SUBSYSTEMS=="usb",MODE:="0777",SYMLINK+="usbDbus"
ACTION=="add",KERNELS=="3-5.1:1.0",SUBSYSTEMS=="usb",MODE:="0777",SYMLINK+="usbReferee"